#square{
    height: 34px;
    width: 34px;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.row{
    display: table;
}

.ml-170{
    margin-left: 170px !important;
}

.style{
    background-color: red !important;
}

.background-powderblue{
    background-color: powderblue !important;
}

.width-200{
    width: 200px;
}